@model CategoryIndex

<div class="d-flex justify-content-center my-4">
    <button type="button" class="btn btn-primary" onclick="loadCreateModal()">New category</button>
</div>

<div class="row g-4">
    @foreach (var category in Model.Categories)
    {
        <div class="col-auto">
            <div class="card border-primary text-center" style="width: 18rem">
                <h4 class="card-header">@Html.DisplayFor(model => category.Name)</h4>
                <div class="card-body">
                    <dl class="row mb-0">
                        <dt class="col-12">
                            @Html.DisplayNameFor(model => category.TotalTransactions)
                        </dt>
                        <dd class="col-12">
                            @Html.DisplayFor(model => category.TotalTransactions)
                        </dd>
                        <dt class="col-12">
                            @Html.DisplayNameFor(model => category.TotalTransactionsAmount)
                        </dt>
                        <dd class="col-12">
                            @Html.DisplayFor(model => category.TotalTransactionsAmount)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer p-0 overflow-hidden">
                    <div class="row g-0">
                        <div class="col-6 border-end border-secondary">
                            <button type="button" class="btn btn-light w-100 rounded-0 border-0 text-decoration-none py-2"
                                    onclick="loadUpdateModal('@category.Id')">
                                Update
                            </button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-light w-100 rounded-0 border-0 text-decoration-none py-2"
                                    onclick="loadDeleteModal('@category.Id')">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</div>

<div id="create-category-modal-placeholder"></div>
<div id="delete-category-modal-placeholder"></div>
<div id="update-category-modal-placeholder"></div>

@section Scripts {
    <script src="~/js/Categories/createCategory.js"></script>
    <script src="~/js/Categories/deleteCategory.js"></script>
    <script src="~/js/Categories/updateCategory.js"></script>
}